html  {
  font-family: Tahoma, Geneva, sans-serif;
}

body {
  margin: 0 10rem 0 10rem;
}

.kitties-to-go {
  background-color: #000000;
}

.arrow {
  font-family: "Wingdings";
}

.book {
  text-align: right;
  padding: .5rem;
}

.book a {
  color: red;
}

.title {
  font-size: 2rem;
  color: white;
  padding:0 0 .5rem 1.5rem;
}

.tag-line  {
  font-size: 1rem;
  font-weight: bold;
  color: grey;
  padding: 0 0 1rem 1.5rem;
}

nav {
  background-color: #B2B2B2;
  display: flex;
  justify-content: space-around;
  padding: .5rem 0 .5rem;
}

.container {
  display: flex;
}
